language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '9'
  - '8'
  - '7'
  - '6'
before_install:
  - npm i -g npm 
before_script: 
  - npm prune
  - npm install -g mocha
  - npm install -g chai
script: 
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
